<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cskj.boot.goods.mapper.GoodsMapper">
	<select id="queryGoodsAll" resultType="goods">
		select * from goods
	</select>
	
	<insert id="addGoods">
		insert into goods values(null,#{name},#{price},#{createDate},#{keepDate},#{weight},#{content})
	</insert>
	
	<delete id="deleteGoods">
		delete from goods where id = #{id}
	</delete>
	
	<select id="queryGoodsById" resultType="goods">
		select * from goods where id = #{id}
	</select>
	
	<update id="updateGoods" parameterType="goods">
		update goods set name=#{name},price=#{price},createDate=#{createDate},keepDate=#{keepDate},weight=#{weight},content=#{content} where id=#{id}
	</update>
</mapper>